## Using API call to request data from AISHub

In [ ]:
# Dependencies
import requests
import json

key = 'Enter Your Key Here'

# Build the endpoint URL
target_url = ('http://data.aishub.net/ws.php?username={key}&format=1&output=json&compress=1')
print(target_url)

In [ ]:
# Request data from target URL

response = request.get(target_url)
data = response.json()

print(data[0])

## Using Google Map API to request city name from lat and lng

### Reference

* See the [Google Geocoding Documentation](https://developers.google.com/maps/documentation/geocoding/intro)

* See the [Google Places Documentation](https://developers.google.com/maps/documentation/javascript/places#place_search_requests)

* See the Capping Queries
### Setting Google API Daily Usage Caps

As of June 16, 2018, Google is adjusting their pricing for the Google Maps Platform to require a credit card on file. They do charge for the platform, but provide a $200 credit for those services.

To avoid an unexpected increase in usage limits, the following walk-through will assist with setting up a maximum daily billable limit for your API calls.

Visit the [Google Dashboard](https://console.cloud.google.com/projectselector/apis/dashboard?_ga=2.166576887.87610002.1528936935-349962923.1526573906&supportedpurview=project).

In [1]:
# Using the Google API to request city name data

# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
# from config import gkey

In [2]:
gkey = 'Enter Your Key Here'

In [16]:
# set up a parameters dictionary
params = {
    "location": '43.61, -116.21',
    "radius": 1000,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)
print(response)

# jsonify the response
address = response.json()

<Response [200]>

In [27]:
# add = json.loads(address)
print(json.dumps(address, indent=4, sort_keys=True))

{
    "html_attributions": [],
    "next_page_token": "CqQCFQEAAGjc6o-NEAhaK5lymZ0tNApHYVnYDe-jxxsC1r6aiGbCuFZB7V36R6eQE3qVzTCld8hnNWIlWEIgM2yIcqq_sd3WhCq8WJPcqE-dEFjtCpgRK0cN5OwZSkoL78RPINmnbHx-N64U7zSWuaRkwNRKgh-ytQI95In8IqIoHzuu65fYIBoRS1q9M-KjNELtuXPyJ7KyM0TyeXbRpQQk5TvrVP_IFCcluKUekXgr0bJzibVxZoImEgb1jiYHEiWpJO2A9t3Iw1Tt7vrfwJ6dzIYkarZjJG-vZiymfbwtMjaCUY_OofC7nRdMgdQ_vnrS2b6Trwja5c6ZTrEjRax7DuZvczZMT7ROMtmwbQFh9vtwR4aQBoKOCD4c9nAH_EeO4p41shIQjzRGLNxyaN10uy17A0Ev4hoUW48nxvl3djyob4ltTZ9KDIOKFlY",
    "results": [
        {
            "geometry": {
                "location": {
                    "lat": 43.6150186,
                    "lng": -116.2023137
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.6898951,
                        "lng": -116.1019091
                    },
                    "southwest": {
                        "lat": 43.511717,
                        "lng": -116.3658869
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
            "id": "d6db31e427de818ee44395c996a8c87704bbc6c9",
            "name": "Boise",
            "photos": [
                {
                    "height": 2448,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/115042537991430506900/photos\">Marshall Kee</a>"
                    ],
                    "photo_reference": "CmRaAAAAJ72CZzydKsY3HtEz5oXzz-J16ZA40MIwLSrae8_gfpIn6Uh2BViEri94fe8w6N1BRMPYno6WHl3YaifCiUeS3A_A33jtbaVoGdWiKKsN-RQ31W4jUE0teZWdgcbE5XUNEhAS57Z14aIf7-wMMohMjAb3GhS03yXciZyICkATHkn86FG6c-BSBA",
                    "width": 3264
                }
            ],
            "place_id": "ChIJnbRH6XLxrlQRm51nNpuYW5o",
            "reference": "ChIJnbRH6XLxrlQRm51nNpuYW5o",
            "scope": "GOOGLE",
            "types": [
                "locality",
                "political"
            ],
            "vicinity": "Boise"
        },
        {
            "geometry": {
                "location": {
                    "lat": 43.6042232,
                    "lng": -116.2137018
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.6056676302915,
                        "lng": -116.2123781697085
                    },
                    "southwest": {
                        "lat": 43.60296966970851,
                        "lng": -116.2150761302915
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "5941c7b7ab3e16e969eb9c8429c87ceb30361b71",
            "name": "TownePlace Suites by Marriott Boise Downtown/University",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 2080,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/106830035009248980494/photos\">TownePlace Suites by Marriott Boise Downtown/University</a>"
                    ],
                    "photo_reference": "CmRaAAAA3vHs-GLy3MygkiVKdj7jT6esOvaJzx6CJLNbpNFrtsqvmKJC4z4_XJF9kS8t3s47yx0pPSpZ1XI5iiqgTyrcEcEuKOwLdDuT625luKKlyjasii96tVrZgCF3y8hFYzb6EhBl12h0usT7Tv4vbP1wOfrZGhSzbU8yyqk943YT07LV1H7hi8FICw",
                    "width": 3000
                }
            ],
            "place_id": "ChIJK8VPLIv4rlQRBRtqqcDjKG4",
            "plus_code": {
                "compound_code": "JQ3P+MG Boise, Idaho, United States",
                "global_code": "85M5JQ3P+MG"
            },
            "rating": 4.399999999999999,
            "reference": "ChIJK8VPLIv4rlQRBRtqqcDjKG4",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 304,
            "vicinity": "1455 South Capitol Boulevard, Boise"
        },
        {
            "geometry": {
                "location": {
                    "lat": 43.61555,
                    "lng": -116.2064699
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.6169840802915,
                        "lng": -116.2049662197085
                    },
                    "southwest": {
                        "lat": 43.6142861197085,
                        "lng": -116.2076641802915
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "4e7b8db16c72ce59f9c318c4484f1fa237ef91a2",
            "name": "Hotel 43",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 2754,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/113245403196783401370/photos\">Hotel 43</a>"
                    ],
                    "photo_reference": "CmRaAAAA40f9_ByMhDXzvFydSn7gFafJXgbIkUulg2YlRikdACiDGWvX3CUGhwzfXE7xrHNG9439aVXEgILCq7YUvfB9WsYUrByns0D040GIt_XPbLshiHvlmYlNCsZZdEuEHpn_EhDNR-WrnyjRq3BC-NaPg4lVGhQRzVlkoNGIRGFR4mOy8zb7tnkfPQ",
                    "width": 4131
                }
            ],
            "place_id": "ChIJNQnEpeX4rlQReKnm_VeFU_0",
            "plus_code": {
                "compound_code": "JQ8V+6C Boise, Idaho, United States",
                "global_code": "85M5JQ8V+6C"
            },
            "rating": 4.5,
            "reference": "ChIJNQnEpeX4rlQReKnm_VeFU_0",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 353,
            "vicinity": "981 West Grove Street, Boise"
        },
        {
            "geometry": {
                "location": {
                    "lat": 43.6123321,
                    "lng": -116.2055217
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.6136269802915,
                        "lng": -116.2040009197085
                    },
                    "southwest": {
                        "lat": 43.61092901970851,
                        "lng": -116.2066988802915
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "828502c07366f8629e6e133c0415808b2e20ab5c",
            "name": "Hampton Inn & Suites Boise-Downtown",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 3471,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/114551667716962215520/photos\">Hampton Inn &amp; Suites Boise-Downtown</a>"
                    ],
                    "photo_reference": "CmRaAAAAcSuiV4qbTnP6lAPWOyPWYN6_JvKtkzZRlw1_tKVjus2r1XSQuZSOCNuUgI5Sl-5pc5PlF6RzlIszgZ-S59qS6gM9u14ZLAGkoEZjdjQFuvmTZHMQXCGs4mek0vlSdGiJEhDuZdO0IjxmUoSvDm41PPp_GhS9bQTN-2-2FjyXYrDPL4KYTbs5hg",
                    "width": 4859
                }
            ],
            "place_id": "ChIJkf0tnvr4rlQRjL-FWTWCnUg",
            "plus_code": {
                "compound_code": "JQ6V+WQ Boise, Idaho, United States",
                "global_code": "85M5JQ6V+WQ"
            },
            "rating": 4.5,
            "reference": "ChIJkf0tnvr4rlQRjL-FWTWCnUg",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 709,
            "vicinity": "495 South Capitol Boulevard, Boise"
        },
        {
            "geometry": {
                "location": {
                    "lat": 43.60528,
                    "lng": -116.2145046
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.6065546302915,
                        "lng": -116.2130472697085
                    },
                    "southwest": {
                        "lat": 43.6038566697085,
                        "lng": -116.2157452302915
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "9c0a61c01c71783431563ed015df0a425fa2ee2c",
            "name": "Residence Inn by Marriott Boise Downtown/University",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 1366,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/116249487111930302758/photos\">Residence Inn by Marriott Boise Downtown/University</a>"
                    ],
                    "photo_reference": "CmRaAAAA69z8AkT4a3cL18fQe8GmRtHU8z7xjAnSL8qB_xhcgH3Kv7RZpMjeV1-53U_vHnIdy3baeOUEDzuHz_3UQauuX7dwc8MBP_v_ezTzghQCRCTKHcDAqRGwq_mujtftDTw8EhBY06DdBDmq6tcacRJ72XVWGhSONFvzYv5-jt46YwD0cCKXlm7JSA",
                    "width": 2048
                }
            ],
            "place_id": "ChIJsxJPOov4rlQRXV1hYJLrJtE",
            "plus_code": {
                "compound_code": "JQ4P+45 Boise, Idaho, United States",
                "global_code": "85M5JQ4P+45"
            },
            "rating": 4.399999999999999,
            "reference": "ChIJsxJPOov4rlQRXV1hYJLrJtE",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 244,
            "vicinity": "1401 South Lusk Avenue, Boise"
        },
        {
            "geometry": {
                "location": {
                    "lat": 43.6166867,
                    "lng": -116.2069877
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.6179430802915,
                        "lng": -116.2059235697085
                    },
                    "southwest": {
                        "lat": 43.6152451197085,
                        "lng": -116.2086215302915
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "cad56cdc3a97e26280c21c55b2e8de156f1821a7",
            "name": "Safari Inn-Downtown",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 460,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/111224521114655910452/photos\">Safari Inn-Downtown</a>"
                    ],
                    "photo_reference": "CmRaAAAAOLcgRkg6wr9PYVNGXdH-hUVF7B676Vaq_O6RAy1BJiHd-Vzkn42_KAAtXynQr_3SXzLmwq4X8gQeeZLidXI55-kbi6u_nDRBIbvdUE9Bw3_Q8LWhyjPGwKCMEt9kaZJpEhAN8ROXzxotiFLjuXBALWLQGhT7qg_fVulhkHOzy0Vq1vCyfl-liQ",
                    "width": 840
                }
            ],
            "place_id": "ChIJ5aqgwOX4rlQRlgNXG__zXrw",
            "plus_code": {
                "compound_code": "JQ8V+M6 Boise, Idaho, United States",
                "global_code": "85M5JQ8V+M6"
            },
            "rating": 4,
            "reference": "ChIJ5aqgwOX4rlQRlgNXG__zXrw",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 492,
            "vicinity": "1070 West Grove Street, Boise"
        },
        {
            "geometry": {
                "location": {
                    "lat": 43.6139805,
                    "lng": -116.2037792
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.6152466302915,
                        "lng": -116.2022797197085
                    },
                    "southwest": {
                        "lat": 43.6125486697085,
                        "lng": -116.2049776802915
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "694216287367036e509fa82359c1e4bb8db01ea5",
            "name": "The Grove Hotel",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 553,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/116907876961523237058/photos\">The Grove Hotel</a>"
                    ],
                    "photo_reference": "CmRaAAAAgvKhavUElX8uKcPylkQczquvGvbL89j6_oGwN6TOx11qTzoLq8od8sajh-ewrI5yK9NEgh7Ez7XKaumhF9t9PwsOKjVgtyPxKCP36TV6ak_AWKo12AlRD3um7_RNqj_SEhBKNTmJHs9u8XxspNF695ZTGhRkJdm_VOnZbe2ZjshlxhJAx-f8MA",
                    "width": 983
                }
            ],
            "place_id": "ChIJJ4IrIeX4rlQRqU4eEpEWDNE",
            "plus_code": {
                "compound_code": "JQ7W+HF Boise, Idaho, United States",
                "global_code": "85M5JQ7W+HF"
            },
            "rating": 4.399999999999999,
            "reference": "ChIJJ4IrIeX4rlQRqU4eEpEWDNE",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 1463,
            "vicinity": "245 South Capitol Boulevard, Boise"
        },
        {
            "geometry": {
                "location": {
                    "lat": 43.61831989999999,
                    "lng": -116.2105384
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.6197211302915,
                        "lng": -116.2094813197085
                    },
                    "southwest": {
                        "lat": 43.6170231697085,
                        "lng": -116.2121792802915
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "b76b556c1981e60826e9b1591d3997c34bf92289",
            "name": "Modern Hotel",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 2577,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/100408259027880832637/photos\">Modern Hotel</a>"
                    ],
                    "photo_reference": "CmRaAAAAhU9nFoc9AS19OGj6j3_z9gktMGMejCoCLTMcDM75g6qYlfNJjG1w-b6TIb0QHbVAVn8rOQajRk3iqRKXqeYrTV6NYqvZDQCUlYS4MabWpodi7F31NswRiZ7uN4SR4QrIEhBcAU63lqpxLwqiqGqqVY2JGhQN-6sL2v_fJYGIZy4SEhlGJKnV7Q",
                    "width": 3867
                }
            ],
            "place_id": "ChIJ_fZEO-b4rlQRESiN6JvXLD8",
            "plus_code": {
                "compound_code": "JQ9Q+8Q Boise, Idaho, United States",
                "global_code": "85M5JQ9Q+8Q"
            },
            "rating": 4.6,
            "reference": "ChIJ_fZEO-b4rlQRESiN6JvXLD8",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 556,
            "vicinity": "1314 West Grove Street, Boise"
        },
        {
            "geometry": {
                "location": {
                    "lat": 43.6140237,
                    "lng": -116.20365
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.6153102302915,
                        "lng": -116.2021753197085
                    },
                    "southwest": {
                        "lat": 43.6126122697085,
                        "lng": -116.2048732802915
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
            "id": "aba2031be32220ce9196a7d74581520b3ba73a38",
            "name": "Western Masonry Insulation Llc",
            "place_id": "ChIJqwf45IOJrlQRFyTMYart4RQ",
            "plus_code": {
                "compound_code": "JQ7W+JG Boise, Idaho, United States",
                "global_code": "85M5JQ7W+JG"
            },
            "reference": "ChIJqwf45IOJrlQRFyTMYart4RQ",
            "scope": "GOOGLE",
            "types": [
                "general_contractor",
                "point_of_interest",
                "establishment"
            ],
            "vicinity": "155 S Pronghorn Rd, Boise"
        },
        {
            "geometry": {
                "location": {
                    "lat": 43.61392499999999,
                    "lng": -116.202285
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.61526663029151,
                        "lng": -116.2009428697085
                    },
                    "southwest": {
                        "lat": 43.61256866970851,
                        "lng": -116.2036408302915
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "b18c8331e9a9be90c9abe6afd1a2de6f896af68c",
            "name": "Bardenay Restaurant & Distillery - Boise",
            "opening_hours": {
                "open_now": false
            },
            "photos": [
                {
                    "height": 2000,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/104799580007864976275/photos\">Bardenay Restaurant &amp; Distillery - Boise</a>"
                    ],
                    "photo_reference": "CmRaAAAAvEMBVkfWfWIFLwn026-BI8q_Z8cSobL17tBI711bWjgE_7Y9XJXaUQP2iLaII110UD_eACZCLD6tT620M3xHjI1hBCyJWGLqFt0-y1fwKbbCfDCb9wr-qdtgwyOecFWYEhCKA6Vqq7EGdcrURb8UderwGhQmQBi-btZWvmCuFqPqKd6kxnzDYA",
                    "width": 3008
                }
            ],
            "place_id": "ChIJN8rsMvv4rlQRk0ZIq_0dQxI",
            "plus_code": {
                "compound_code": "JQ7X+H3 Boise, Idaho, United States",
                "global_code": "85M5JQ7X+H3"
            },
            "price_level": 2,
            "rating": 4.5,
            "reference": "ChIJN8rsMvv4rlQRk0ZIq_0dQxI",
            "scope": "GOOGLE",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 1420,
            "vicinity": "610 West Grove Street, Boise"
        },
        {
            "geometry": {
                "location": {
                    "lat": 43.6139185,
                    "lng": -116.2168178
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.6153503302915,
                        "lng": -116.2152463197085
                    },
                    "southwest": {
                        "lat": 43.61265236970851,
                        "lng": -116.2179442802915
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/civic_building-71.png",
            "id": "c64cdb9292e321263a43832d00664b107d05ed82",

In [29]:
# Print the city name from the search result
print(address['results'][0]['name'])

Boise

In [ ]:
# Find name and address of a port
# https://developers.google.com/places/web-service/supported_types

params = {
    "location": "San Francisco",
    "type": "Curise Port",
    "radius": 5000,
    "key": gkey
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

response = requests.get(base_url, params)

port_1 = response.json()

port_1

In [ ]:
# Find a port near San Francisco

params = {
    "location": "lat, lng",
    "keyword": "curise port",
    "radius": 5000,
    "key": gkey
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

response = requests.get(base_url, params)

port_2 = response.json()

port_2

In [ ]:
# Fine name and address of a port by query
# https://developers.google.com/places/web-service/search#TextSearchRequests

params = {
    "query": "curise port in San Francisco"
    "key": gkey
}

target_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

response = requests. get(base_url, params)

port_3 = response.json()

port_3

## Using Pandas to extract data from html page

In [1]:
# Using pandas to automatically scrape any tabular data from a page
import pandas as pd

In [2]:
# Save the url for the cruise ships table
url = 'https://en.wikipedia.org/wiki/List_of_cruise_ships'

In [3]:
# Using pandas read.html to extract data from the html page
table = pd.read_html(url)
table

[    0                                                  1   2  \
 0 NaN  This article has multiple issues. Please help ... NaN
 1 NaN  This article may require cleanup to meet Wikip... NaN
 2 NaN  This article needs to be updated. Please updat... NaN
 3 NaN  This article needs additional citations for ve... NaN
 4 NaN  This article may require cleanup to meet Wikip... NaN
 5 NaN  This article needs to be updated. Please updat... NaN
 6 NaN  This article needs additional citations for ve... NaN

                                                    3   4  \
 0  This article may require cleanup to meet Wikip... NaN
 1                                                NaN NaN
 2                                                NaN NaN
 3                                                NaN NaN
 4                                                NaN NaN
 5                                                NaN NaN
 6                                                NaN NaN

                                                    5   6  \
 0  This article needs to be updated. Please updat... NaN
 1                                                NaN NaN
 2                                                NaN NaN
 3                                                NaN NaN
 4                                                NaN NaN
 5                                                NaN NaN
 6                                                NaN NaN

                                                    7
 0  This article needs additional citations for ve...
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                                                NaN
 5                                                NaN
 6                                                NaN  ,
     0                                                  1
 0 NaN  This article may require cleanup to meet Wikip...,
     0                                                  1
 0 NaN  This article needs to be updated. Please updat...,
     0                                                  1
 0 NaN  This article needs additional citations for ve...,
                         0                               1                2  \
 0                    Name                        Operator  Began operation
 1           Achille Lauro               StarLauro Cruises             1947
 2                  Adonia                          fathom             2001
 3                 Adriana                Adriana Shipping             1972
 4   Adventure of the Seas   Royal Caribbean International             2001
 5          Aegean Odyssey            Voyages to Antiquity             1973
 6         Aegean Paradise         New Century Cruise Line             1990
 7                AIDAaura                    AIDA Cruises             2003
 8               AIDAbella                    AIDA Cruises             2008
 9                 AIDAblu                    AIDA Cruises             2010
 10               AIDAcara                    AIDA Cruises             1996
 11               AIDAdiva                    AIDA Cruises             2007
 12               AIDAluna                    AIDA Cruises             2009
 13                AIDAmar                    AIDA Cruises             2012
 14              AIDAperla                    AIDA Cruises             2017
 15              AIDAprima                    AIDA Cruises             2016
 16                AIDAsol                    AIDA Cruises             2011
 17             AIDAstella                    AIDA Cruises             2013
 18               AIDAvita                    AIDA Cruises             2002
 19               Albatros                  Phoenix Reisen             1973
 20     Allure of the Seas   Royal Caribbean International             2010
 21                 Amadea                  Phoenix Reisen             1991
 22         American Eagle           American Cruise Lines             2000
 23         American Glory           American Cruise Lines             2002
 24             Amerikanis   Chandris Line / Costa Cruises             1952
 25              Amsterdam            Holland America Line             2000
 26              RMS Andes                Royal Mail Lines             1939
 27     Anthem of the Seas   Royal Caribbean International             2015
 28               Aranui 3                            CPTM             1959
 29               Aranui 5                            CPTM             2015
 30                Arcadia                     P&O Cruises             2004
 31             Arosa Kulm                      Arosa Line             1919
 32             Arosa Star                      Arosa Line             1931
 33              Arosa Sun                      Arosa Line             1929
 34                Artania                  Phoenix Reisen             1984
 35                 Assedo  Kaalbye Shipping International             1968
 36                  Astor       Cruise & Maritime Voyages             1987
 37               Asuka II             Nippon Yusen Kaisha             2006
 38                 Athena   Classic International Cruises             1948
 39          Atlantic Star              Pullmantur Cruises             2006
 40                 Aurora                     P&O Cruises             2000
 41                Ausonia              Louis Cruise Lines             1956
 42        Azamara Journey                 Azamara Cruises             2007
 43          Azamara Quest                 Azamara Cruises             2007
 44                  Azura                     P&O Cruises             2010

           3                                                  4
 0   Tonnage                                             Status
 1     23629  Sunk. Built between 1939 and 1947 as the Wille...
 2     30277  Operating. Began operation in 2001 as the R Ei...
 3      4490  Operating. Began operation in 1972 as the Aqua...
 4    137276                                          Operating
 5     11563  Operating. Formerly, the ferry Narcis for Zim ...
 6     23287  Operating. Formerly, Orient Venus, Cruise One,...
 7     42289                                          Operating
 8     69203                                          Operating
 9     71304  Operating. Has the same name as the former AID...
 10    38531  Operating. Formerly, the AIDA, renamed in 2001...
 11    69203                                          Operating
 12    69203                                          Operating
 13    71300                                          Operating
 14   125572                                          Operating
 15   125572                                          Operating
 16    71304                                          Operating
 17    71304                                          Operating
 18    42289                                          Operating
 19    20018  Operating. Built as the Royal Viking Sea for R...
 20   225282                                          Operating
 21    28856  Operating. Originally the Asuka for Nippon Yus...
 22      NaN  Defunct as a cruise ship. Permanently moored a...
 23      NaN                   Defunct. Laid up in Norfolk, VA.
 24    17041  Scrapped. Originally, the Kenya Castle for Uni...
 25    61000                                          Operating
 26    27000  Scrapped. Built as liner for South American tr...
 27   168666                                          Operating
 28     3800  Defunct. Operating passenger freight cruise li...
 29     7500                                          Operating
 30    86799                                          Operating
 31     8929  Scrapped. Formerly built in 1919 by American I...
 32     9070  Grounded. Originally a liner, the Borinquen (1...
 33      NaN  Scrapped. Originally a liner, the Félix Rousse...
 34    44348  Operating. Originally, the Royal Princess, tra...
 35    19361  Scrapped. Originally the Shota Rustaveli, sold...
 36    20606  Operating. Originally, the Astor, renamed Feod...
 37    50142               Operating. Formerly Crystal Harmony.
 38    12165  Operating. Ex- Völkerfreundschaft, Volker, Fri...
 39    46000  Scrapped under name Antic in 2013 at Aliağa, T...
 40    76000                                          Operating
 41    11879                Beached for scrapping in March 2010
 42    30277  Operating. Formerly R six for Renaissance Crui...
 43    30277  Operating. Formerly R seven for Renaissance Cr...
 44   116000                                          Operating  ,
                          0                                        1  \
 0                     Name                                 Operator
 1      Bahamas Celebration                  Celebration Cruise Line
 2                 Balmoral                 Fred. Olsen Cruise Lines
 3                Barcelona          Companhia Colonial de Navegacao
 4                Belofin I  AG Belofin Investments of Liechtenstein
 5                Bianca C.                               Costa Line
 6         The Big Red Boat                          Premier Cruises
 7          Birka Stockholm                               Birka Line
 8              Black Watch                 Fred. Olsen Cruise Lines
 9                     Bore                   Steamship Company Bore
 10                Boudicca                 Fred. Olsen Cruise Lines
 11                 Braemar                 Fred. Olsen Cruise Lines
 12                   Brahe                  Saimaan Matkaverkko Ltd
 13                  Bremen                      Hapag-Lloyd Cruises
 14  Brilliance of the Seas            Royal Caribbean International
 15               Britannia                              P&O Cruises

                   2        3  \
 0   Began operation  Tonnage
 1              2008    35483
 2              2007    43537
 3              1961    23306
 4              1970    18017
 5              1944    18427
 6              1998    32000
 7              2004    34924
 8              1996    28613
 9              2010     4295
 10             2006    28388
 11             2001    19089
 12             2010     1105
 13             1993     6753
 14             2002    90090
 15             2015   143730

                                                     4
 0                                              Status
 1   Scrapped. Formerly, the MS Prinsesse Ragnhild ...
 2   Operating. Formerly: Norwegian Crown, Crown Od...
 3   Operated as Infante Dom Henrique until 1975, t...
 4   Formerly: the SS Monterey (1932–1953), the SS ...
 5                                       Sunk in 1961.
 6   Repossessed by creditors in 2000. Formerly: SS...
 7           Operating. Originally the Birka Paradise.
 8   Operating. Formerly: Star Odyssey, Westward, R...
 9   Operating. Formerly: Bore, Borea, Kristina Reg...
 10  Operating. Formerly: Grand Latino, Superstar C...
 11  Operating. Formerly: Crown Dynasty, Norwegian ...
 12  Operating. Formerly: MS Kristina Brahe, USS PC...
 13                                          Operating
 14                                          Operating
 15                                          Operating  ,
                        0                          1                2        3  \
 0                   Name                   Operator  Began operation  Tonnage
 1                   Caly         Louis Cruise Lines             1967    11162
 2               Canberra                        P&O             1961    49073
 3     Caribbean Princess           Princess Cruises             2004   112894
 4        Carnival Breeze       Carnival Cruise Line             2012   130000
 5      Carnival Conquest       Carnival Cruise Line             2002   110000
 6         Carnival Dream       Carnival Cruise Line             2009   130000
 7       Carnival Ecstasy       Carnival Cruise Line             1991    70367
 8       Carnival Elation       Carnival Cruise Line             1998    70367
 9       Carnival Fantasy       Carnival Cruise Line             1990    70367
 10  Carnival Fascination       Carnival Cruise Line             1994    70367
 11      Carnival Freedom       Carnival Cruise Line             2007   110000
 12        Carnival Glory       Carnival Cruise Line             2003   110000
 13      Carnival Horizon       Carnival Cruise Line             2018   133596
 14  Carnival Imagination       Carnival Cruise Line             1995    70367
 15  Carnival Inspiration       Carnival Cruise Line             1996    70367
 16       Carnival Legend       Carnival Cruise Line             2002    88500
 17      Carnival Liberty       Carnival Cruise Line             2005   110000
 18        Carnival Magic       Carnival Cruise Line             2011   130000
 19      Carnival Miracle       Carnival Cruise Line             2004    88500
 20     Carnival Paradise       Carnival Cruise Line             1998    70390
 21        Carnival Pride       Carnival Cruise Line             2002    88500
 22    Carnival Sensation       Carnival Cruise Line             1993    70367
 23       Carnival Spirit       Carnival Cruise Line             2001    85900
 24     Carnival Splendor       Carnival Cruise Line             2008   112000
 25     Carnival Sunshine       Carnival Cruise Line             2013   102853
 26      Carnival Triumph       Carnival Cruise Line             1999   101509
 27        Carnival Valor       Carnival Cruise Line             2004   110000
 28      Carnival Victory       Carnival Cruise Line             2000   102000
 29        Carnival Vista       Carnival Cruise Line             2015   140000
 ..                   ...                        ...              ...      ...
 44    Clipper Adventurer              Clipper Group             1975     4376
 45       Clipper Odyssey              Clipper Group             1989     5218
 46            Club Med 2                   Club Med             1996    14983
 47              Columbus  Cruise & Maritime Voyages             1989    63786
 48          Constitution    American Hawaii Cruises             1951    23754
 49                 Coral         Louis Cruise Lines             1975    14194
 50        Coral Princess           Princess Cruises             2003    91627
 51         Costa Allegra              Costa Cruises             1992    28500
 52       Costa Atlantica              Costa Cruises             2000    86000
 53        Costa Pacifica             Costa Crociere             2009   114500
 54        Costa Classica              Costa Cruises             1992    52926
 55       Costa Concordia              Costa Cruises             2006   114500
 56       Costa Deliziosa              Costa Cruises             2010    92700
 57         Costa Diadema              Costa Cruises             2014   130000
 58         Costa Fortuna              Costa Cruises             2003   102587
 59       Costa Fascinosa              Costa Cruises             2012   114500
 60        Costa Favolosa              Costa Cruises             2011   114500
 61         Costa Fortuna              Costa Cruises             2003   105000
 62        Costa Luminosa              Costa Cruises             2009    92700
 63          Costa Magica              Costa Cruises             2004   102587
 64    Costa Mediterranea              Costa Cruises             2003    86000
 65      Costa neoRiviera              Costa Cruises             1999    48200
 66    Costa neoRomantica              Costa Cruises             1993    53000
 67          Costa Serena              Costa Cruises             2007   115500
 68        Costa Victoria              Costa Cruises             1996    76000
 69         Costa Voyager              Costa Cruises             2011    24391
 70        Crown Princess           Princess Cruises             2006   113000
 71      Crystal Serenity            Crystal Cruises             2003    68870
 72      Crystal Symphony            Crystal Cruises             1995    51044
 73     Cunard Ambassador                Cunard Line             1972    14160

                                                     4
 0                                              Status
 1   Scrapped in 2013. Originally, the Canguro Verd...
 2                                    Scrapped in 1997
 3                                           Operating
 4                                           Operating
 5                                           Operating
 6                                           Operating
 7                  Operating. Originally, the Ecstasy
 8                  Operating. Originally, the Elation
 9                  Operating. Originally, the Fantasy
 10             Operating. Originally, the Fascination
 11                                          Operating
 12                                          Operating
 13                                          Operating
 14             Operating. Originally, the Imagination
 15             Operating. Originally, the Inspiration
 16                                          Operating
 17                                          Operating
 18                                          Operating
 19                                          Operating
 20                Operating. Originally, the Paradise
 21                                          Operating
 22               Operating. Originally, the Sensation
 23                                          Operating
 24                                          Operating
 25  Operating. Originally, the Carnival Destiny (r...
 26                                          Operating
 27                                          Operating
 28                                          Operating
 29                                          Operating
 ..                                                ...
 44  Operating as a charter vessel to several tour ...
 45  Operating on a long term charter to Zegrahm Ex...
 46                                          Operating
 47  Operating; formerly: Star Princess, Arcadia, O...
 48  Sank. Formerly sailed in Hawaii with twin ship...
 49  Formerly Cunard Adventurer, Sunward II, Triton...
 50                                          Operating
 51                                   Scrapped in 2012
 52                                          Operating
 53                                          Operating
 54                                          Operating
 55  Ran aground, capsized and partially sank off I...
 56              Operating (Hybrid Spirit/Vista Class)
 57                                          Operating
 58                                          Operating
 59                                          Operating
 60                                          Operating
 61                                          Operating
 62              Operating (Hybrid Spirit/Vista Class)
 63                                          Operating
 64                                          Operating
 65  Operating. Entered service as Mistral for Fest...
 66                                          Operating
 67                                          Operating
 68                                          Operating
 69  Operating. Entered service as Olympic Voyager,...
 70                                          Operating
 71                                          Operating
 72                                          Operating
 73  Burnt 1974, rebuilt into a livestock carrier, ...

 [74 rows x 5 columns],
                    0                                  1                2  \
 0               Name                           Operator  Began operation
 1            Delphin  Delphin Seereisen/Hansa Touristik             1993
 2   Diamond Princess                   Princess Cruises             2004

In [15]:
# Find the first cruise ship related table
df_a = table[4]
df_a.head()

,0,1,2,3,4
0,Name,Operator,Began operation,Tonnage,Status
1,Achille Lauro,StarLauro Cruises,1947,23629,Sunk. Built between 1939 and 1947 as the Wille...
2,Adonia,fathom,2001,30277,Operating. Began operation in 2001 as the R Ei...
3,Adriana,Adriana Shipping,1972,4490,Operating. Began operation in 1972 as the Aqua...
4,Adventure of the Seas,Royal Caribbean International,2001,137276,Operating

In [29]:
# Clean the table and give it an index row
df_z = table[29]
df_z = df_z.iloc[1:]
df_z.columns = ['Name', 'Operator', 'Began Operation', 
                              'Tonnage', 'Status']
df_z.head()

,Name,Operator,Began Operation,Tonnage,Status
1,Zaandam,Holland America Line,2000,60906,Operating
2,Zenith,Pullmantur Cruises,1992,47255,Operating. Transferred from Pullmantur Cruises...
3,Zuiderdam,Holland America Line,2002,81679,Operating

In [45]:
# Create an empty dataframe and create column names
data_df = pd.DataFrame(columns=['Name', 'Operator', 'Began Operation', 
                              'Tonnage', 'Status'])

# Try to append data to the dataframe
data_df = data_df.append(df_z, ignore_index=True)
data_df.head()

,Name,Operator,Began Operation,Tonnage,Status
0,Zaandam,Holland America Line,2000,60906,Operating
1,Zenith,Pullmantur Cruises,1992,47255,Operating. Transferred from Pullmantur Cruises...
2,Zuiderdam,Holland America Line,2002,81679,Operating

In [44]:
# Run the for loop to extract data from table A to Z
# Save it into a dataframe

for i in range(4, 30):
    df_i = table[i]
#     print(df)
    df_i.columns = ['Name', 'Operator', 'Began Operation', 
                              'Tonnage', 'Status']
#     print(df)
    df_i = df_i.iloc[1:]
#     df.head()
    data_df = data_df.append(df_i, ignore_index=True)

data_df.head()

,Name,Operator,Began Operation,Tonnage,Status
0,Achille Lauro,StarLauro Cruises,1947,23629,Sunk. Built between 1939 and 1947 as the Wille...
1,Adonia,fathom,2001,30277,Operating. Began operation in 2001 as the R Ei...
2,Adriana,Adriana Shipping,1972,4490,Operating. Began operation in 1972 as the Aqua...
3,Adventure of the Seas,Royal Caribbean International,2001,137276,Operating
4,Aegean Odyssey,Voyages to Antiquity,1973,11563,"Operating. Formerly, the ferry Narcis for Zim ..."
5,Aegean Paradise,New Century Cruise Line,1990,23287,"Operating. Formerly, Orient Venus, Cruise One,..."
6,AIDAaura,AIDA Cruises,2003,42289,Operating
7,AIDAbella,AIDA Cruises,2008,69203,Operating
8,AIDAblu,AIDA Cruises,2010,71304,Operating. Has the same name as the former AID...
9,AIDAcara,AIDA Cruises,1996,38531,"Operating. Formerly, the AIDA, renamed in 2001..."
10,AIDAdiva,AIDA Cruises,2007,69203,Operating
11,AIDAluna,AIDA Cruises,2009,69203,Operating
12,AIDAmar,AIDA Cruises,2012,71300,Operating
13,AIDAperla,AIDA Cruises,2017,125572,Operating
14,AIDAprima,AIDA Cruises,2016,125572,Operating
15,AIDAsol,AIDA Cruises,2011,71304,Operating
16,AIDAstella,AIDA Cruises,2013,71304,Operating
17,AIDAvita,AIDA Cruises,2002,42289,Operating
18,Albatros,Phoenix Reisen,1973,20018,Operating. Built as the Royal Viking Sea for R...
19,Allure of the Seas,Royal Caribbean International,2010,225282,Operating
20,Amadea,Phoenix Reisen,1991,28856,Operating. Originally the Asuka for Nippon Yus...
21,American Eagle,American Cruise Lines,2000,NaN,Defunct as a cruise ship. Permanently moored a...
22,American Glory,American Cruise Lines,2002,NaN,"Defunct. Laid up in Norfolk, VA."
23,Amerikanis,Chandris Line / Costa Cruises,1952,17041,"Scrapped. Originally, the Kenya Castle for Uni..."
24,Amsterdam,Holland America Line,2000,61000,Operating
25,RMS Andes,Royal Mail Lines,1939,27000,Scrapped. Built as liner for South American tr...
26,Anthem of the Seas,Royal Caribbean International,2015,168666,Operating
27,Aranui 3,CPTM,1959,3800,Defunct. Operating passenger freight cruise li...
28,Aranui 5,CPTM,2015,7500,Operating
29,Arcadia,P&O Cruises,2004,86799,Operating
...,...,...,...,...,...
425,Topaz,Peace Boat,1955,NaN,Scrapped in 2003.
426,Turama,Sete Yacht Management,1990,8343,"Operating. Formerly: Delfin Caravelle, Sally C..."
427,SS Uganda,British-India Steam Navigation Company,1952,17000,"Began life as an ocean liner, served as a hosp..."
428,Van Gogh,Travelscope / Van Gogh Cruises,1999,15402,"Operating. Formerly: Club I, Odessa Sky, Gruziya"
429,Veendam,Holland America Line,1996,55451,Operating
430,Ventura,P&O Cruises,2008,116017,Operating
431,Vidanta Elegant,Vidanta Cruises,1990,15396,"Formerly: Voyager, Crown Monarch, Cunard Crown..."
432,Viking Sea,Viking Ocean Cruises,2016,47842,Operating
433,Viking Sky,Viking Ocean Cruises,2017,47800,Operating
434,Viking Star,Viking Ocean Cruises,2015,47842,Operating
435,Vision of the Seas,Royal Caribbean International,1998,78340,Operating
436,Vistamar,Plantours & Partner,1989,7500,Operating; since 2012 Orient Queen II (Abou Me...
437,Volendam,Holland America Line,1999,60906,Operating
438,Voyager of the Seas,Royal Caribbean International,1999,138194,Operating
439,Westerdam,Holland America Line,2004,81811,Operating
440,Wind Song,Windstar Cruises,1987,5350,Devastated by fire in 2002 and scuttled in Jan...
441,Wind Spirit,Windstar Cruises,1988,5350,Operating
442,Wind Star,Windstar Cruises,1986,5350,Operating
443,Wind Surf,Windstar Cruises,1998,14745,Operating; formerly: Club Med I
444,The World,ResidenSea,2002,53524,Operating
445,World Discoverer,Adventurer Cruises,1975,3724,"Wrecked April 30, 2000"
446,World Dream,Dream Cruises,2017,150695,Operating
447,World Odyssey,Semester at Sea,2015,22400,Operating since August 2015; formerly: MS Deut...
448,Xpedition,Celebrity Cruises,2004,2842,Operating; formerly Sun Bay I
449,Yamal,Poseidon Arctic Voyages,1992,23445,Operating
450,Yankee Clipper,Windjammer Barefoot Cruises,1965,327,Operating
451,Yorktown,Cruise West,1988,2354,Operating
452,Zaandam,Holland America Line,2000,60906,Operating
453,Zenith,Pullmantur Cruises,1992,47255,Operating. Transferred from Pullmantur Cruises...
454,Zuiderdam,Holland America Line,2002,81679,Operating

In [1]:
# Extract the crews and passengers capacity of the ship

# Dependencies
import pandas as pd
import numpy as np

url = 'https://en.wikipedia.org/wiki/MS_Achille_Lauro'

In [13]:
# Using pandas read.html to extract data from the html page
table = pd.read_html(url)
info = table[1]
info

                          0                                                  1
0             Achille Lauro                                                NaN
1                   History                                                NaN
2                       NaN                                                NaN
3                     Name:  Willem Ruys (1947–1965) Achille Lauro (1965–1994)
4                    Owner:  1947–1965: N. V. Koninklijke Rotterdamsche Llo...
5                 Operator:  Royal Rotterdam Lloyd (1947–1964) Flotta Lauro...
6         Port of registry:  1947–1965: Rotterdam, Netherlands 1965–1994: N...
7                  Ordered:                                         7 May 1938
8                  Builder:  Koninklijke Maatschappij "De Schelde" Shipbuil...
9              Yard number:                                                214
10               Laid down:                                 25 January 1939[1]
11                Launched:               1 July 1946[1] (Delayed due to WWII)
12              Christened:                         by HM Queen Wilhelmina [2]
13               Completed:                                21 November 1947[1]
14           Maiden voyage:                                 2 December 1947[1]
15          Out of service:                                   30 November 1994
16          Identification:      Call sign: PIQF → IBHE[1] IMO number: 5390008
17                    Fate:  Sank on 2 December 1994 off the coast of Somal...
18  General characteristics                                                NaN
19                 Tonnage:  21,119 GRT as built 23,629 GRT after refurbish...
20                  Length:                                  642 ft (196 m)[2]
21                    Beam:                                    82 ft (25 m)[2]
22                   Draft:                                 29.3 ft (8.9 m)[2]
23                   Decks:                  9 [2] (6 passenger accessible)[1]
24         Installed power:  2 × Sulzer/ Winterthur + 6 × Sulzer/de Schelde...
25              Propulsion:                                    2 propellers[1]
26                   Speed:                             22.0 kn (40.7 km/h)[1]
27                Capacity:   869 passengers (as built)[1] 1,372 passengers[2]
28                    Crew:                                            300 [2]

In [15]:
# Identify the class type for passenger capacity data
print(type(info[1][27]))

# Identify the crew capacity data
print(info[1][28])

<class 'str'>
300 [2]

In [19]:
# Create a new colume for extracting the first element in each row
capacity = info[1].str.split(' ', n=1, expand=True)
info['new'] = capacity[0]
info

,0,1,new
0,Achille Lauro,NaN,NaN
1,History,NaN,NaN
2,NaN,NaN,NaN
3,Name:,Willem Ruys (1947–1965) Achille Lauro (1965–1994),Willem
4,Owner:,1947–1965: N. V. Koninklijke Rotterdamsche Llo...,1947–1965:
5,Operator:,Royal Rotterdam Lloyd (1947–1964) Flotta Lauro...,Royal
6,Port of registry:,"1947–1965: Rotterdam, Netherlands 1965–1994: N...",1947–1965:
7,Ordered:,7 May 1938,7
8,Builder:,"Koninklijke Maatschappij ""De Schelde"" Shipbuil...",Koninklijke
9,Yard number:,214,214
10,Laid down:,25 January 1939[1],25
11,Launched:,1 July 1946[1] (Delayed due to WWII),1
12,Christened:,by HM Queen Wilhelmina [2],by
13,Completed:,21 November 1947[1],21
14,Maiden voyage:,2 December 1947[1],2
15,Out of service:,30 November 1994,30
16,Identification:,Call sign: PIQF → IBHE[1] IMO number: 5390008,Call
17,Fate:,Sank on 2 December 1994 off the coast of Somal...,Sank
18,General characteristics,NaN,NaN
19,Tonnage:,"21,119 GRT as built 23,629 GRT after refurbish...","21,119"
20,Length:,642 ft (196 m)[2],642 ft
21,Beam:,82 ft (25 m)[2],82 ft
22,Draft:,29.3 ft (8.9 m)[2],29.3 ft
23,Decks:,9 [2] (6 passenger accessible)[1],9
24,Installed power:,2 × Sulzer/ Winterthur + 6 × Sulzer/de Schelde...,2
25,Propulsion:,2 propellers[1],2
26,Speed:,22.0 kn (40.7 km/h)[1],22.0 kn
27,Capacity:,"869 passengers (as built)[1] 1,372 passengers[2]",869
28,Crew:,300 [2],300

In [39]:
# Create a for loop to save the capacity and crew data
passenger = []
crew = []

for i in info.index:
    if info[0][i] == "Capacity:":
#         print(info["new"][i])
# Need to replace commas with empty strings before coverting to interger
        passenger.append(int(info["new"][i].replace(',', '')))
    if info[0][i] == "Crew:":
#         print(info["new"][i])
# Need to replace commas with empty strings before coverting to interger
        crew.append(int(info["new"][i].replace(',', '')))

print(passenger)
print(crew)

[869]
[300]